h1, h2{
    margin: 1rem;
}

::ng-deep .prime-list-override {
    width: 15rem;
    margin: 0 0 0 1rem;
}

.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 0.5rem;

    .module-card{
        cursor: pointer;
        margin: 0.5rem;
        width: fit-content;
    }
}