<div *ngIf="module$ | async as module">
  <h1>{{module.title}}</h1>
  <h2>Participants au cours</h2>

  <p-listbox [options]="module.students" [(ngModel)]="selectedStudents" [metaKeySelection]="false" [checkbox]="false"
             [filter]="false" [multiple]="false" optionLabel="name" [listStyle]="{'max-height':'250px'}" styleClass="prime-list-override">
    <ng-template let-student pTemplate="item">
      <div class="student-item">
        <div>{{student.firstName}} {{student.lastName}}</div>
      </div>
    </ng-template>
  </p-listbox>

  <h2>Liste des cours</h2>
  <div class="cards-container">
    <div class="module-card" *ngFor="let lesson of module.lessons">
      <p-card (click)="goToSignaturePage(module.id)" [subheader]="'Séance du ' + (lesson.startDate | date : 'medium':'UTC':'fr-FR')" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img alt="Card" src="assets/images/class.jpg">
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="émarger" icon="pi pi-check"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
