<div class="card">
  <div class="informations">
    <div>
      {{student.firstName}} {{student.lastName}}
    </div>
    <div>
      {{student.email}}
    </div>
  </div>
  <div *ngIf="isButtonDisplayed">
    <button (click)="openDialog()" pButton class="p-button-success">Signer</button>
  </div>
</div>
<p-dialog  [draggable]="false" [resizable]="false" [(visible)]="isDialogVisible" (onHide)="closeDialog()" [style.height]="'65vh'" [style.width]="'80vw'" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
  <div class="flex">
    <canvas width="500px" height="300px" style="border: 1px solid black" ejs-signature #signature id="signature"></canvas>
    <div class="buttons">
      <button pButton (click)="save()">Sauvegarder</button>
      <button pButton (click)="clear()">Effacer</button>
    </div>
  </div>
  <div *ngIf="showSpinner" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-color: rgba(0,0,0,.4);">
    <div style="position: absolute; top: calc((100% - 50%) - 50px); left: calc((100% - 50%) - 50px);">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</p-dialog>
