<div class="card">
  <div class="informations">
    <div>
      {{studentInput.firstName}} {{studentInput.lastName}}
    </div>
    <div>
      {{studentInput.email}}
    </div>
  </div>

  <div class="status">
    <div>
      <i [class]="{orange: student.status === 'EN_ATTENTE',
      red: student.status === 'ABSENT',
      green: student.status === 'PRESENT'}"
         class="pi pi-user rounded large"
      ></i>
    </div>
  </div>
</div>
