.card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  margin-top: 20px;
  height: 8vh;
  width: 400px;
  padding-left: 2%;
  padding-right: 2%;
}

.rounded {
  border-radius:50%;
}

.large {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.5rem;
}

.orange {
  background-color: rgba(255, 165, 0, 0.15);
  color: rgba(255, 165, 0, 0.8)
}

.red{
  background-color: rgba(255, 0, 0, 0.15);
  color: rgba(255, 0, 0, 0.8)
}

.green {
  background-color: rgba(0, 128, 0, 0.15);
  color: rgba(0, 128, 0, 0.8);
}


@media only screen and (max-width: 440px) {
  .card {
    width: 90%;
  }
}
