<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 login">
  <div class="text-center mb-5">
    <img src="assets/campus.svg" alt="Image" height="50" class="mb-3" />
    <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
  </div>

  <div>
    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
    <input id="email1" type="text" pInputText class="w-full mb-3" #email />

    <label for="password1" class="block text-900 font-medium mb-2"
      >Password</label
    >
    <input
      id="password1"
      type="password"
      pInputText
      class="w-full mb-3"
      #password
    />

    <div class="flex align-items-center justify-content-between mb-6">
      <div class="flex align-items-center">
        <p-checkbox
          id="rememberme1"
          [binary]="true"
          styleClass="mr-2"
        ></p-checkbox>
        <label for="rememberme1" class="text-900">Remember me</label>
      </div>
      <a
        class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
        >Forgot password?</a
      >
    </div>

    <button
      pButton
      pRipple
      label="Sign In"
      icon="pi pi-user"
      class="w-full"
      (click)="signIn(password.value, email.value)"
    ></button>
  </div>
</div>
