<section class="bgc">
  <div *ngIf="module$|async as module" class="container">
    <div class="mode">
      <div *ngIf="mode=='Terminal'">
        <div  *ngFor="let eleve of module.students">
          <app-selectable-card (onSignFinished)="saveSignature($event, module.id, eleve)" [student]="eleve"></app-selectable-card>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
    <div class="status">
      <div *ngFor="let eleve of module.students">
        <app-card [studentInput]="eleve"></app-card>
      </div>
    </div>
  </div>
</section>
