/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
