.bgc {
    background-color: #D9D9D9;
    display: block;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
}

.up, .down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.uplf {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: .75rem;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.sm-grey-txt {
  color: #6D6D6D;
  font-size: 1.25rem;
  text-align: center;
}

.cours {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.status {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.status-text {
  font-size: 2rem;

  & > span {
    font-size: 2rem;

    &.orange-light {
      color: rgba(255, 128, 0, 0.8);
    }

    &.red-light {
      color: rgba(255, 0, 0, 0.8);
    }

    &.green-light {
      color: rgba(0, 128, 0, .6);
    }
  }
}

.orange {
  background-color: rgba(255, 165, 0, 0.15);
  color: rgba(255, 165, 0, 0.8)
}

.red{
  background-color: rgba(255, 0, 0, 0.15);
  color: rgba(255, 0, 0, 0.8)
}

.green {
  background-color: rgba(0, 128, 0, 0.15);
  color: rgba(0, 128, 0, 0.8);
}

.back, .end-button{
  border: none;
  border-radius: 5px;

  padding: .7rem 1.50rem ;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
}

.uprg{
  display: flex;
  flex-direction: row;
  gap: 16px
}
