<div *ngIf="(moduleState$ | async) as moduleState">
  <div class="details">
    <div class="up">
      <div class="uplf">
        <button (click)="back()" pButton class="back">
          <i class="pi pi-chevron-left"></i>Back
        </button>
        <div class="summary">
          <div class="sm-grey-txt">
            Module actuel
          </div>
          <div class="cours">
            Workshop Tech
          </div>
        </div>
      </div>
      <div class="uprg">
        <span class="text-time">
        Temps Restant
        </span>
        <span class="time">
          <app-time-count-down>
          </app-time-count-down>
        </span>
      </div>
    </div>
    <div class="down">

      <div class="dlf">

      </div>

      <div class="dm">
        <div class="status">
          <div class="status-text">
            En attente
            <span class="orange-light">5</span>
          </div>
          <div class="status-text">
            Présent
            <span class="green-light">7</span>
          </div>
          <div class="status-text">
            Absent
            <span class="red-light">2</span>
          </div>
        </div>
      </div>

      <div class="drg">
        <div>
          <button pButton class="p-button-success">Terminer</button>
        </div>
      </div>
    </div>

  </div>
  <app-status></app-status>
</div>
