.calendar{
    width: 50%;
    margin: 0 auto;
}

h1{
    margin: 1rem;
}

.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 0.5rem;

    .module-card{
        cursor: pointer;
        margin: 0.5rem;
        width: fit-content;
    }
}
