<h1>Mon calendrier de modules</h1>
<p-selectButton [style]="{'margin': '1rem'}" [options]="stateOptions" [(ngModel)]="typeList" optionValue="value" id="switch-calendar">
    <ng-template let-item>
		<i [class]="item.icon"></i>
	</ng-template>
</p-selectButton>

<div *ngIf="typeList == 'Card'">
    <div *ngIf="modules | async as moduleState" class="cards-container">
      <div *ngFor="let module of moduleState" class="module-card">
        <p-card (click)="goToDetails(module)" header="{{module.title}}" subheader="{{module.lessons[0].startDate | date : 'medium':'UTC':'fr-FR'}}"  [style]="{width: '360px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/class.jpg">
          </ng-template>
        </p-card>
      </div>
    </div>
</div>

<div *ngIf="typeList == 'Calendar'">
    <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>

</div>
